{
	"extends": "stylelint-config-standard",
	"rules": {
    "indentation": ["tab"],
    "font-family-no-missing-generic-family-keyword": [ true, {
      "ignoreValues": [
        "sans,
        "sans-400",
        "sans-400i",
        "sans-700",
        "sans-700i"
      ]
    }]
  }
}
