
@font-face {
    font-family:"AvertaPE-Light";
    src:url("AvertaPE-Light.woff2") format("woff2"),url("AvertaPE-Light.woff") format("woff"),url("AvertaPE-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        