
@font-face {
    font-family:"AvertaPE-Regular";
    src:url("AvertaPE-Regular.woff2") format("woff2"),url("AvertaPE-Regular.woff") format("woff"),url("AvertaPE-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        