
@font-face {
    font-family:"AvertaPE-RegularItalic";
    src:url("AvertaPE-RegularItalic.woff2") format("woff2"),url("AvertaPE-RegularItalic.woff") format("woff"),url("AvertaPE-RegularItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        