
@font-face {
    font-family:"AvertaPE-LightItalic";
    src:url("AvertaPE-LightItalic.woff2") format("woff2"),url("AvertaPE-LightItalic.woff") format("woff"),url("AvertaPE-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        