@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Averta';
	src: url('../fixtures/fonts/averta/AvertaPE-Regular.woff2') format('woff2'),
		url('../fixtures/fonts/averta/AvertaPE-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Averta';
	src: url('../fixtures/fonts/averta/AvertaPE-RegularItalic.woff2')
			format('woff2'),
		url('../fixtures/fonts/averta/AvertaPE-RegularItalic.woff')
			format('woff');
	font-weight: normal;
	font-style: italic;
}
